# Log for Terraform
*.log
*.lock.hcl

# Terraform binaries
.terraform/

# State files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Variables and secrets
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# Other files
kbOmine/
*.tfplan
localstack_providers_override.tf